
EXPO_PUBLIC_SUPABASE_URL=https://kxpiorxejwskinexycer.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imt4cGlvcnhlandza2luZXh5Y2VyIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzg3NjYzMzksImV4cCI6MjA5NDM0MjMzOX0.cRwxA9I1iYs6DqShIf2JXDT9EsjXiFyY82sQ8bDONsY

